<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shuiyou.dao.EnjoyDao">

    <!--<select id="getAllData" resultType="com.shuiyou.domain.Enjoy">
        select * from enjoy
    </select>-->

    <select id="getAllData" resultType="string">
        select name from enjoy
    </select>

    <select id="getClauseEnjoy" resultType="int">
        select clause_id
        from enjoy e, clause_enjoy ce
        where e.id = #{id} and e.id = ce.enjoy_id
    </select>
    <select id="getByNameToAllData" resultType="com.shuiyou.domain.All_data">
        select clause_text, enjoy, title, textID, mode, policyClassification, type, taxType, date, notice.N_id, C_id
        from enjoy, clause_enjoy, clause, notice
        where name = #{name}
          and enjoy.id = clause_enjoy.enjoy_id
          and clause_enjoy.clause_id = clause.C_id
          and clause.N_id = notice.N_id
    </select>


</mapper>
